body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
background-image: linear-gradient(40deg,grey,rgb(179, 179, 238),rgb(238, 197, 238));
background-repeat: no-repeat;
background-size: contain;
    display: grid;
place-items: center;
max-height: 100vh;
}
img{
    height: 300px;
    width: 300px;
    display: grid;
place-items: center;
}
